name: Build and test
on:
  push:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: purcell/setup-emacs@master
        with:
          version: 28.1

      - uses: actions/cache@v3
        id: cache-cask-packages
        with:
          path: .cask
          key: cache-cask-packages-000

      - uses: actions/cache@v3
        id: cache-cask-executable
        with:
          path: ~/.cask
          key: cache-cask-executable-000

      - uses: cask/setup-cask@master
        if: steps.cache-cask-executable.outputs.cache-hit != 'true'
        with:
          version: snapshot

      - run: |
          echo "$PATH"
          echo "$GITHUB_PATH"
          ls -alh ~/.cask/

      - run: echo "$HOME/.cask/bin" >> $GITHUB_PATH

      - run: |
          echo "$GITHUB_PATH"
          $HOME/.cask/bin/cask --version

      # - uses: leotaku/elisp-check@master
      #   with:
      #     file: markdown-toc/markdown-toc.el

      # - uses: leotaku/elisp-check@master
      #   with:
      #     check: ert
      #     file: markdown-toc/tests/markdown-toc-tests.el

      - run: cask exec ert-runner
